body {
  background-repeat: repeat; /* Faz o fundo se repetir */
  background-size: auto; /* Ajusta o tamanho automaticamente */
  background-position: center; /* Centraliza a posição do fundo */  
  background-color: #AEEAFD !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.94' fill='%23FFF5E1' cx='45' cy='45' r='8'/%3E%3Cg fill='%23FFC1CC' fill-opacity='0.94'%3E%3Ccircle cx='0' cy='90' r='8'/%3E%3Ccircle cx='90' cy='90' r='8'/%3E%3Ccircle cx='90' cy='0' r='8'/%3E%3Ccircle cx='0' cy='0' r='8'/%3E%3C/g%3E%3C/svg%3E") !important;
}

#nomeCliente {
  max-width: 300px;
}

.colorTitle{
  background-color: #FFF7AE; color: #FF007F;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#numeroMesa {
  max-width: 300px;
}

.bola {
  background-color: deeppink;
}

.card {
  display: flex;
  height: 360px; /* Deixe a altura automática para acomodar o conteúdo */
  margin: 10px; /* Centraliza o card dentro da coluna */
  width: 200px;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  background-color: #f9d71c; /* Amarelo suave */
  border: 3px solid #FFF7AE !important; /* Borda preta */
  border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animações */
}
.card:hover {
  transform: translateY(-5px); /* Leve elevação ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa ao passar o mouse */
}

.card-body {
  display: flex; /* Usar flexbox para o corpo do card */
  flex-direction: column; /* Direção vertical */
  flex-grow: 1; /* Faz o card-body ocupar o espaço disponível */
  padding: 10px;
  background-color: #FFF7AE;
  justify-content: center;

}

.card-title {
  font-size: 1.25rem; /* Tamanho da fonte do título */
  color: #000000; /* Texto preto */
  margin-top: 10px;
  margin-bottom: 2px;
  flex-grow: 1; /* Permite que o título ocupe o espaço restante */
}

.card-text {
  font-size: 1rem; /* Tamanho da fonte do texto */
  background-color: black;
  color: #fde910;
  font-weight: bolder;
}


.card-img-top{
  display: flex;
  height: 180px;
  width: 100%;
  object-fit: cover;
}


#pedido {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

#pedido h3 {
  font-size: 1.5rem;
  color: #333;
}

#lista-pedido {
  max-height: 300px;
  overflow-y: auto;
}

.btn-primary:hover {
  background-color: #0056b3; /* Tom de azul um pouco mais escuro */
  transition: 0.3s;
  transform: scale(1.05);
}



.navbar .nav-link {
  color: white  !important; /* Cor do texto dos links */
  background-color: #343a40 !important;
}

.navbar .nav-link:hover {
  color: #FFD700 !important; /* Cor do texto ao passar o mouse */
}

.navbar .navbar-brand {
  color: white !important; /* Cor do texto da marca */
  background-color: #343a40 !important;
}

.navbar .navbar-brand:hover {
  color: #FFD700 !important; /* Cor do texto da marca ao passar o mouse */
}


.container-fluid{
  background-color: #343a40 !important;
}

.btn-primary {
  margin-bottom: 5px; /* Ajuste para melhorar o espaçamento */
  background-color: black !important;
  
}

#pedido {
  background-color: #f9d71c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}

#pedido h3 {
  font-size: 1.5rem;
  color: #333;
}

#lista-pedido {
  max-height: 300px;
  overflow-y: auto;
}

.btn-primary {
  font-size: 1rem;
  padding: 10px 20px;
  color: #f9d71c !important;
  font-weight: bolder;
}

#boti{
  margin-top: auto !important; /* Empurra o botão para o final do card */
  background-color: #fea9c8 !important;
  color: #ffffff !important;
  font-weight: bold;
  border-color:#bbd8bc !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#pedido {
  background-color: #f9d71c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

#lista-pedido {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

#menu-carousel-2{
  margin-top: 10px;
}
.title{
  color:#FF007F;
  text-shadow: 2px 2px 4px #D9A88E;
  font-weight: bolder;
}


#menu-carousel,
#menu-carousel-2,
#menu-carousel-3 {
  display: none;
}

#next {
  background-color: #FF007F; /* Cor de fundo verde */
  color: white; /* Texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor em formato de mão ao passar sobre o botão */
  transition: background-color 0.3s ease; /* Efeito de transição na cor do fundo */
  margin-left: 580px;
}

#next:hover {
  background-color: #af095c; /* Cor do fundo quando o mouse passa por cima */
}

#next:active {
  background-color: #FF007F; /* Cor do fundo quando o botão é pressionado */
}

#next:focus {
  outline: none; /* Remove o contorno de foco padrão */
}

#volte{
  margin-left: 140px;
  margin-top: 70px;
}

.CarrosselTitulos{
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 43%;
}





@media (max-width: 576px) { /* Para telas pequenas */
  .carousel-item {
      display: flex;
      width: 100%;
      justify-content: center;
  }

  .card-title {
      font-size: 0.5rem; /* Tamanho da fonte do título reduzido */
      font-weight: bolder;
      width: 50px;
      display: flex;
      justify-content: center;
  }

  .card-text {
      font-size: 0.5rem; /* Tamanho da fonte do texto reduzido */
  }

  .btn {
      font-size: 0.1rem; /* Tamanho do botão reduzido */
  }

  .card {
      height: 150px; /* Deixa a altura automática para evitar sobreposição */
      width: 90px; /* Ocupa toda a largura disponível */
      display: flex;
      justify-content: space-between;
  }

  .card-img-top{
      height: 50%;
  }

  #boti{
      font-size: .45rem;
      font-weight: bolder;
      margin-top: auto;
      width: auto;
      display: flex;
      padding: 5px;
      justify-content: center;


  }

  #logu{
      width: 100%;
      height: auto;
  }
  #pedido h3 {
      font-size: 1rem;
  }
  .form-control {
      font-size: 0.7rem;
  }
  #lista-pedido .list-group-item {
      font-size: 0.85rem;
  }
  .btn-primary {
      font-size: 0.9rem;
      padding: 8px 16px;
      width: 100%; /* Ocupa toda a largura disponível em telas pequenas */
  }
  #pedido{
      max-width: 80%;
      max-height: auto;
  }
  .row{
    margin-right: 45px !important;
    gap: 15px;
}
  .title {
  font-size: 7px; /* Tamanho do texto */
  width: 100%; /* Largura do contêiner */
  white-space: normal; /* Permite quebra de linha automática */
  word-wrap: break-word; /* Quebra a palavra se for muito longa */
  word-break: break-word; /* Força quebra se necessário */
  margin-top: 10px; /* Espaço entre o topo e o texto */
  position: relative;
  text-align: center; /* Centraliza horizontalmente */
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin-right: 30px !important;
  height: 100%; /* Certifique-se de que a altura do contêiner seja consistente */
}

  #volte{
    margin-left: 30px;
    margin-top: 20px;

  }
  
  #limiteCremes{
    margin-left: 140px !important;
    font-size: 16px !important;
  }
  #cremesTitle{
    margin-left: 160px !important;
    font-size: 18px !important;
  }

  #limiteComplementos{
    margin-left: 125px !important;
    font-size: 18px !important;
  }
  #limite{
    margin-left: 140px !important;
    font-size: 16px !important;
  }
  #limiteCaldas{
    margin-left: 140px !important;
    font-size: 16px !important;
  }
  #titleCaldas{
    margin-left: 160px !important;
    font-size: 18px !important;
  }

  #titulo{
    font-size: 1.5rem;
  }

  #next{
    font-size: 10px;
    margin-left: 170px;
    padding: 5px 10px;
  }
}

